
<div class="o_main_content"><div class="o_control_panel o_hidden"></div><div class="o_content"><div class="pos">
            <div class="pos-topheader">
                <div class="pos-branding">
                    <img class="pos-logo" src="<%- assetPath('logo.png') %>">
                    <span class="username">
            Marco Dal Borgo
        </span>
                </div>
                <div class="pos-rightheader">
                    <div class="order-selector">
            <span class="orders touch-scrollable">



                        <span class="order-button select-order selected" data-uid="00001-010-0003">
                            <span class="order-sequence">
                                3
                            </span>
                            11:47
                        </span>



            </span>
                        <span class="order-button square neworder-button">
                <i class="fa fa-plus"></i>
            </span>
                        <span class="order-button square deleteorder-button">
                <i class="fa fa-minus"></i>
            </span>
                    </div>

                    <div class="oe_status js_synch">
                        <div class="js_connected oe_icon oe_green">
                            <i class="fa fa-fw fa-wifi"></i>
                        </div>

                    </div><div class="header-button">
                        Close
                    </div></div>
            </div>

            <div class="pos-content">

                <div class="window">
                    <div class="subwindow">
                        <div class="subwindow-container">
                            <div class="subwindow-container-fix screens">

                                <div class="payment-screen screen">
                                    <div class="screen-content">
                                        <div class="top-content">
                    <span class="button back">
                        <i class="fa fa-angle-double-left"></i>
                        Back
                    </span>
                                            <h1>Payment</h1>
                                            <span class="button next highlight">
                        Validate
                        <i class="fa fa-angle-double-right"></i>
                    </span>
                                        </div>
                                        <div class="left-content pc40 touch-scrollable scrollable-y">

                                            <div class="paymentmethods-container">
                                                <div class="paymentmethods">

                                                    <div class="button paymentmethod" data-id="7">
                                                        Cash (EUR)
                                                    </div>

                                                </div></div>

                                        </div>
                                        <div class="right-content pc60 touch-scrollable scrollable-y">

                                            <section class="paymentlines-container"><table class="paymentlines">
                                                    <colgroup>
                                                        <col class="due">
                                                        <col class="tendered">
                                                        <col class="change">
                                                        <col class="method">
                                                        <col class="controls">
                                                    </colgroup>
                                                    <thead>
                                                    <tr class="label">
                                                        <th>Due</th>
                                                        <th>Tendered</th>
                                                        <th>Change</th>
                                                        <th>Method</th>
                                                        <th></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>


                                                    <tr class="paymentline selected">
                                                        <td class="col-due"> 18.00 </td>
                                                        <td class="col-tendered edit">20.00</td>

                                                        <td class="col-change highlight">
                                                            2.00
                                                        </td>



                                                        <td class="col-name"> Cash (EUR) </td>
                                                        <td class="delete-button" data-cid="c6"> <i class="fa fa-times-circle"></i> </td>
                                                    </tr>




                                                    </tbody>
                                                </table></section>

                                            <section class="payment-numpad">
                                                <div class="numpad">
                                                    <button class="input-button number-char" data-action="1">1</button>
                                                    <button class="input-button number-char" data-action="2">2</button>
                                                    <button class="input-button number-char" data-action="3">3</button>
                                                    <button class="mode-button" data-action="+10">+10</button>
                                                    <br>
                                                    <button class="input-button number-char" data-action="4">4</button>
                                                    <button class="input-button number-char" data-action="5">5</button>
                                                    <button class="input-button number-char" data-action="6">6</button>
                                                    <button class="mode-button" data-action="+20">+20</button>
                                                    <br>
                                                    <button class="input-button number-char" data-action="7">7</button>
                                                    <button class="input-button number-char" data-action="8">8</button>
                                                    <button class="input-button number-char" data-action="9">9</button>
                                                    <button class="mode-button" data-action="+50">+50</button>
                                                    <br>
                                                    <button class="input-button numpad-char" data-action="CLEAR">C</button>
                                                    <button class="input-button number-char" data-action="0">0</button>
                                                    <button class="input-button number-char" data-action=".">.</button>
                                                    <button class="input-button numpad-backspace" data-action="BACKSPACE">
                                                        <img src="<%- assetPath('backspace.png') %>" width="24" height="21">
                                                    </button>
                                                </div></section>

                                            <div class="payment-buttons">
                                                <div class="button js_set_customer">
                                                    <i class="fa fa-user"></i>
                                                    <span class="js_customer_name">


                                    Customer

                            </span>
                                                </div>


                                                <div class="button js_invoice  ">
                                                    <i class="fa fa-file-text-o"></i> Invoice
                                                </div>




                                            </div>
                                        </div>
                                    </div>
                                </div></div>
                        </div>
                    </div>
                </div>


            </div>





        </div></div></div>


